{% extends 'base.html' %}

{% block content %}
<div class="post-entry">
  <h2>{{post.title}} </h2>
  <p style="white-space: pre-wrap;">{{post.body}} </p>
</div>

{% if user == post.author %}
<a href="{% url 'post_edit' post.pk %}"> + Edit Blog Post</a>
<a href="{% url 'post_delete' post.pk %}"> + Delete Blog Post</a>
{% else %}
<h5>Written by: {{post.author}}</h5>
{% endif %}

<div class="post-entry">
  <h5>Comments({{comment_list.count}})</h5>
  {% for comment in comment_list %}
  <h3>{{comment.author}}</h3>
  <p>{{comment.body}} </p>
  {% endfor %}
</div>

{% if user.is_authenticated %}
<form action="" method="post">
  {% csrf_token %}
  <p>Comment on This Post</p>
  {{form.as_p}}
  <input type="submit" value="Comment on post">
</form>
{% else %}
<a href="{% url 'user_login' %}">Login to comment</a>
{% endif %}
{% endblock %}